
body::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.layout {
    min-height: 100vh;
    display: flex !important;
    flex-direction: column;
    gap: 50px;
    padding: 0 !important;
}