.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .hero-content {
        flex: 1;
    }
    .hero-image-div {
        flex: 1;
        img {
            float: right;
            -webkit-box-shadow: -34px -33px 0px 0px rgba(90, 204, 204, 1);
            -moz-box-shadow: -34px -33px 0px 0px rgba(90, 204, 204, 1);
            box-shadow: -34px -33px 0px 0px rgba(90, 204, 204, 1);

            width: 50%;
            border-radius: 20px;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
