.reading-list {
    .empty-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        @media (max-width: 576px) {
            flex-direction: column;
        }
    }
    .cards-list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .card {
        margin-bottom: 2;
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        .level-chip {
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 2;
            opacity: 1;
        }
        .delete-button {
            position: absolute;
            bottom: 5px;
            right: 5px;
            z-index: 2;
            opacity: 1;
        }
    }
}
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    border-radius: 5px;
}
